# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Local data files (your app)
daily_log.csv
backups/

# Environments
.venv/
env/
venv/

# Streamlit secrets
.streamlit/secrets.toml